{% extends "layout.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<div class="about">
    <!-- Header -->
    <header id="header">
        <a href="{{ url_for('home') }}" class="logo">Data Analyst</a>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li><a href="{{ url_for('home') }}">Projects</a></li>
            <li class="active"><a href="{{ url_for('about') }}">About Me</a></li>
        </ul>
        <ul class="icons">
            <li><a href="https://www.linkedin.com/in/alexkwayne/" class="icon brands alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="https://github.com/AlekiDesigners" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <!-- Post -->
        <section class="post">
            <header class="major">
                <h1>Welcome to<br />
                My Portfolio</h1>
                <p>I'm Alex Wayne, a passionate and results-driven data analyst with a knack for <br />
                turning complex data into meaningful stories. Armed with a strong command of SQL,<br />
                Python, and Excel, I embark on data journeys to uncover hidden patterns, solve intricate<br />
                problems, and provide strategic insights.<br />.</p>
            </header>
            <div class="image main"><img src="{{ url_for('static', filename='images/luke.jpg') }}" alt="" /></div>
            <p>With a keen eye for detail and a natural curiosity, I thrive in the realm of data exploration. Armed with a background in data analysis and a passion for translating numbers into actionable strategies, I'm committed to driving informed decision-making and delivering tangible results.</p>
            <p>My journey into the world of data began with a curiosity-driven exploration, and it has evolved into a career fueled by dedication and innovation. From cleaning and transforming data to crafting compelling visualizations, I bring an analytical perspective to every project, aiming to transform complexity into clarity. Whether it's delving into intricate datasets, collaborating with cross-functional teams, or presenting insights in a clear and compelling manner, I'm always excited to push boundaries and contribute to data-driven success stories.</p>
            <p>Join me as we navigate the dynamic landscape of data analysis, harnessing its power to uncover opportunities, unravel challenges, and make a lasting impact.</p>
        </section>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
{% endblock %}