{% extends "layout.html" %}
{% block title %}Alex in Focus{% endblock %}
{% block content %}
<div id="container">
    <div class="logo-image">
        <img id="banner" src="{{ url_for('static', filename='images/cover1.jpg') }}" alt="Banner 1">" />
    </div>
    <div class="home">
        <div id="intro">
            <p>I'm a data analyst adept in SQL, Python, Tableau, and Excel, delivering insights that drive informed decisions</p>
            <ul class="actions">
                <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
            </ul>
        </div>
            <ul class="icons">
                <li><a href="https://www.linkedin.com/in/alexkwayne/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/AlekiDesigners" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </nav>
        <!-- Main -->
        <div id="main">
            <!-- Featured Post -->
            <article class="post featured">
                <header class="major">
                    <h2><a href="#">A world of data-driven insights<br />
                    SQL | Python | Tableau</a></h2>
                    <p>As a skilled data analyst, I transform raw data into actionable knowledge, guiding informed decisions. Explore a diverse range of projects that showcase my ability to extract, analyze, and visualize data, providing valuable insights that make a difference. Join me on this journey of uncovering the power of data.</p>
                </header>
                <a href="#" class="image main"><img id="banner" src="{{ url_for('static', filename='images/fabio.jpg') }}" alt="banner 5" /></a>
                <ul class="actions special">
                </ul>
            </article>
        </div>
        {% include "footer.html" %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
{% endblock %}